* {
    box-sizing: border-box;
}
.body {
    margin: 0;
}
.header {
    height: 110px;
    width: 1555px;
    border: 1px solid black;
    box-shadow: 1px 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading {
    position: relative;
    margin-left: 137px;
}
.heading-picture {
    position: relative;
    margin-left: 137px;
    z-index: 9;
}
.heading-circle {
    position: absolute;
    width: 821px;
    height: 821px;
    background-color: #6BFFCA;
    filter: blur(40px);
    border-radius: 50%;
    top: -100px;
    right: -344px;
    z-index: 0;
}

.global-wrapper {
	width: 1536px;
	border: 1px solid black;
	margin: 0 auto;
}

.tool {
    height: 723px;
    border: 1px solid black;
}

.tool-text {
    width: 434px;
}

.tool-text p {
    margin-top: 31px;
    color: #6E6C72;
}
.btn_try {
    height: 55px;
    width: 245px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    text-transform: uppercase;
    border: none;
    padding: 19px 27px;
    cursor: pointer;
}

.black {
    height: 594px;
    border: 1px solid black;
    background-color: #242029;
}

.bloсk_black {
    color: #F3F7EF;
}

.bloсk_black__a {
    color: #F3F7EF;
}

.wrapper-6-blocks {
    margin: 0 auto;
	height: 976px;
	width: 1536px;
    display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.row {
    width: 1230px;
    height: 335px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.kvadrat {
    height: 317px;
    width: 388px;
    border: 1px solid black;
    border-radius: 10px;
}
.kvadrat-last {
    height: 317px;
    width: 388px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(138.64deg, #ffffff -21.71%, rgba(243, 247, 239, 0) 94.44%);
	box-shadow: 11px 6px 48px 4px #36ff9f, 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
 
}
.info_box {

    color: #F3F7EF;
}

.fon {
    position: absolute;
    transform: translate(-6%, -19%);
    z-index: 0;
    background-image: url("./img/fon.svg");
}

.info_box-a {
    position: relative;
}
.info_box-a {
    position: relative;
    margin-top: 103px;
}
.container__advantages {
    display: flex;
    flex-wrap: wrap;
    margin: 268px 152px 0 152px;;
    position: relative;
    width: 1240px;
    z-index: 5;
    color: #2F2A37;
    

}

.container__advantages-element {
    padding-left: 20px;
	padding-right: 20px;
    background: linear-gradient(180deg, #FFFFFF -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 84px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 25px;
    height: 68px;
    z-index: 5;
    position: relative;
}

.container__advantages-s {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
   
}

.ok-circle {
    margin-left: 10px;
    background-image: url("./img/ok-circle.svg");
    width: 40px;
    height: 40px;

}

.launch {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 149px;
    position: relative;
  
}
.container__f {
    margin-top: 90px;
    margin-left: 152px;
    position: relative;
    
}

.fit {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 89px;
    margin-left: 152px;
    position: relative;
}

.illustration {
   display:flex;
   justify-content: right;
   margin-right: 152px;
   margin-top:10px;
   position: relative;
}